others/
soft/


aws/.default
soft/docker/.default/secrets
soft/git/.default/secrets
aws/compute/ec2/userData/0App


aws/compute/ec2/as
aws/compute/ec2/transferFile

aws/compute/ec2/userData/ecs_agent
aws/compute/ecs
aws/compute/ecr
aws/compute/eks

aws/network/elb/albSuport
aws/network/elb/instanceAdd
aws/network/elb/listener
aws/network/elb/listenerRule
aws/network/elb/tg

aws/network/route53/record/recRoutePolicies
aws/network/route53/hc
aws/data/dynamodb


aws/ssm
aws/ml
aws/management

aws/cost
aws/storage/dataSync









aws/appIntegration/sns/snsTopic/*
!aws/appIntegration/sns/snsTopic/main.tf



aws/compute/ec2/instance/ec2Instance/*
!aws/compute/ec2/instance/ec2Instance/main.tf

aws/compute/ec2/keyPair/ec2KeyPair/*
!aws/compute/ec2/keyPair/ec2KeyPair/main.tf

aws/data/rds/instance/rdsDB/*
!aws/data/rds/instance/rdsDB/main.tf





aws/identity/acm/certificate/*
!aws/identity/acm/certificate/main.tf

aws/identity/iam/group/iamGroup/*
!aws/identity/iam/group/iamGroup/main.tf

aws/identity/iam/instanceProfile/iamInstanceProfile/*
!aws/identity/iam/instanceProfile/iamInstanceProfile/main.tf

aws/identity/iam/role/iamRole/*
!aws/identity/iam/role/iamRole/main.tf

aws/identity/iam/user/iamUser/*
!aws/identity/iam/user/iamUser/main.tf




aws/network/elb/alb/elbAlb/*
!aws/network/elb/alb/elbAlb/main.tf

aws/network/elb/clb/elbClb/*
!aws/network/elb/clb/elbClb/main.tf

aws/network/elb/instanceAdd/ec2TwoInst/*
!aws/network/elb/instanceAdd/ec2TwoInst/main.tf


aws/network/route53/hc/r53HealthCheck/*
!aws/network/route53/hc/r53HealthCheck/main.tf

aws/network/route53/hostedZone/r53HostedZone/*
!aws/network/route53/hostedZone/r53HostedZone/main.tf

aws/network/route53/record/recLb/recLb/*
!aws/network/route53/record/recLb/recLb/main.tf

aws/network/route53/record/recAcm/recAcmCertifc/*
!aws/network/route53/record/recAcm/recAcmCertifc/main.tf

aws/network/route53/record/recRoutePolicies/recRoutePolicies/*
!aws/network/route53/record/recRoutePolicies/recRoutePolicies/main.tf



aws/network/vpc/vpc/*
!aws/network/vpc/vpc/main.tf

aws/network/vpc/sgRule/vpcSgRule/*
!aws/network/vpc/sgRule/vpcSgRule/main.tf

aws/storage/ebs/snapshot/snapshot/*
!aws/storage/ebs/snapshot/snapshot/main.tf

aws/storage/ebs/volumeEBS/*
!aws/storage/ebs/volumeEBS/main.tf

aws/storage/efs/efsFileSystem/*
!aws/storage/efs/efsFileSystem/main.tf

aws/storage/glacier/glacierVault/*
!aws/storage/glacier/glacierVault/main.tf

aws/storage/s3/bucket/s3Bucket/*
!aws/storage/s3/bucket/s3Bucket/main.tf

aws/storage/s3/object/s3Object/*
!aws/storage/s3/object/s3Object/main.tf











scripts_model/.default/awsAccountCreation
scripts_model/.default/secrets
scripts_model/.default/aws/ec2_ud_app

scripts_model/bash/.default/secrets
scripts_model/power_shell/.default/secrets
scripts_model/python/.default/secrets
scripts_model/terraform/.default/secrets




scripts_model/terraform/aws/acm/certificate/*
!scripts_model/terraform/aws/acm/certificate/main.tf

scripts_model/terraform/aws/budget/*
!scripts_model/terraform/aws/budget/main.tf

scripts_model/terraform/aws/cloudwatch/logGroup/*
!scripts_model/terraform/aws/cloudwatch/logGroup/main.tf

scripts_model/terraform/aws/cloudwatch/metricAlarmAsg/*
!scripts_model/terraform/aws/cloudwatch/metricAlarmAsg/main.tf

scripts_model/terraform/aws/cloudwatch/metricAlarmHc/*
!scripts_model/terraform/aws/cloudwatch/metricAlarmHc/main.tf

scripts_model/terraform/aws/ebs/volume/*
!scripts_model/terraform/aws/ebs/volume/main.tf

scripts_model/terraform/aws/ebs/snapshot/*
!scripts_model/terraform/aws/ebs/snapshot/main.tf



scripts_model/terraform/aws/ec2/as/asg/*
!scripts_model/terraform/aws/ec2/as/asg/main.tf

scripts_model/terraform/aws/ec2/as/asg2/*
!scripts_model/terraform/aws/ec2/as/asg2/main.tf

scripts_model/terraform/aws/ec2/as/policy/*
!scripts_model/terraform/aws/ec2/as/policy/main.tf

scripts_model/terraform/aws/ec2/ec2Instance/*
!scripts_model/terraform/aws/ec2/ec2Instance/main.tf

scripts_model/terraform/aws/ec2/ec2KeyPair/*
!scripts_model/terraform/aws/ec2/ec2KeyPair/main.tf

scripts_model/terraform/aws/ec2/launchTemp/*
!scripts_model/terraform/aws/ec2/launchTemp/main.tf



scripts_model/terraform/aws/ecs/complete/ec2/*
!scripts_model/terraform/aws/ecs/complete/ec2/main.tf

scripts_model/terraform/aws/ecs/ec2/capacityProvider/*
!scripts_model/terraform/aws/ecs/ec2/capacityProvider/main.tf

scripts_model/terraform/aws/ecs/ec2/cluster/*
!scripts_model/terraform/aws/ecs/ec2/cluster/main.tf

scripts_model/terraform/aws/ecs/ec2/containerInstance/*
!scripts_model/terraform/aws/ecs/ec2/containerInstance/main.tf

scripts_model/terraform/aws/ecs/ec2/service/*
!scripts_model/terraform/aws/ecs/ec2/service/main.tf

scripts_model/terraform/aws/ecs/ec2/suport1/*
!scripts_model/terraform/aws/ecs/ec2/suport1/main.tf

scripts_model/terraform/aws/ecs/ec2/suport2/*
!scripts_model/terraform/aws/ecs/ec2/suport2/main.tf

scripts_model/terraform/aws/ecs/ec2/task/*
!scripts_model/terraform/aws/ecs/ec2/task/main.tf


scripts_model/terraform/aws/ecs/fargate/cluster/*
!scripts_model/terraform/aws/ecs/fargate/cluster/main.tf

scripts_model/terraform/aws/ecs/fargate/service/*
!scripts_model/terraform/aws/ecs/fargate/service/main.tf

scripts_model/terraform/aws/ecs/fargate/suport1/*
!scripts_model/terraform/aws/ecs/fargate/suport1/main.tf

scripts_model/terraform/aws/ecs/fargate/task/*
!scripts_model/terraform/aws/ecs/fargate/task/main.tf








scripts_model/terraform/aws/ecr/ecrRepository/*
!scripts_model/terraform/aws/ecr/ecrRepository/main.tf

scripts_model/terraform/aws/efs/fileSystem/*
!scripts_model/terraform/aws/efs/fileSystem/main.tf

scripts_model/terraform/aws/elb/alb/*
!scripts_model/terraform/aws/elb/alb/main.tf

scripts_model/terraform/aws/elb/albSuport/*
!scripts_model/terraform/aws/elb/albSuport/main.tf

scripts_model/terraform/aws/elb/clb/*
!scripts_model/terraform/aws/elb/clb/main.tf

scripts_model/terraform/aws/iam/iamGroup/*
!scripts_model/terraform/aws/iam/iamGroup/main.tf

scripts_model/terraform/aws/iam/iamInstanceProfile/*
!scripts_model/terraform/aws/iam/iamInstanceProfile/main.tf

scripts_model/terraform/aws/iam/iamRoleService/*
!scripts_model/terraform/aws/iam/iamRoleService/main.tf

scripts_model/terraform/aws/iam/iamRoleUser/*
!scripts_model/terraform/aws/iam/iamRoleUser/main.tf

scripts_model/terraform/aws/iam/iamUser/*
!scripts_model/terraform/aws/iam/iamUser/main.tf



scripts_model/terraform/aws/rds/rdsDB/*
!scripts_model/terraform/aws/rds/rdsDB/main.tf

scripts_model/terraform/aws/route53/healthCheck/*
!scripts_model/terraform/aws/route53/healthCheck/main.tf

scripts_model/terraform/aws/route53/hostedZone/*
!scripts_model/terraform/aws/route53/hostedZone/main.tf

scripts_model/terraform/aws/route53/hostedZoneAcm/*
!scripts_model/terraform/aws/route53/hostedZoneAcm/main.tf

scripts_model/terraform/aws/route53/recordLb/*
!scripts_model/terraform/aws/route53/recordLb/main.tf

scripts_model/terraform/aws/route53/recordRoutingPolicies/*
!scripts_model/terraform/aws/route53/recordRoutingPolicies/main.tf

scripts_model/terraform/aws/s3/bucket/*
!scripts_model/terraform/aws/s3/bucket/main.tf

scripts_model/terraform/aws/s3/object/*
!scripts_model/terraform/aws/s3/object/main.tf

scripts_model/terraform/aws/s3Glacier/vault/*
!scripts_model/terraform/aws/s3Glacier/vault/main.tf

scripts_model/terraform/aws/sns/snsTopic/*
!scripts_model/terraform/aws/sns/snsTopic/main.tf

scripts_model/terraform/aws/vpc/vpc/*
!scripts_model/terraform/aws/vpc/vpc/main.tf

scripts_model/terraform/aws/vpc/sgRule/*
!scripts_model/terraform/aws/vpc/sgRule/main.tf







scripts_model/power_shell/aws/sageMaker
scripts_model/power_shell/aws/ecs/fargate/autoScaling/
scripts_model/terraform/aws/ecs/fargate/