atividades/

scripts_model/.default/awsAccountCreation
scripts_model/.default/secrets

scripts_model/bash/.default/secrets
scripts_model/power_shell/.default/secrets
scripts_model/python/.default/secrets
scripts_model/terraform/.default/secrets

scripts_model/terraform/aws/ec2/ec2/*
!scripts_model/terraform/aws/ec2/ec2/main.tf

scripts_model/terraform/aws/ec2/keyPair/*
!scripts_model/terraform/aws/ec2/keyPair/main.tf

scripts_model/terraform/aws/iam/iamGroup/*
!scripts_model/terraform/aws/iam/iamGroup/main.tf

scripts_model/terraform/aws/iam/iamUser/*
!scripts_model/terraform/aws/iam/iamUser/main.tf

scripts_model/terraform/aws/vpc/sgRule/*
!scripts_model/terraform/aws/vpc/sgRule/main.tf